@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.psy-navbar {
  background: var(--gradient-color);
  color: var(--color-navbar);
  display: flex;
  position: sticky;

  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 2rem 0;

  top: 0;
  left: 0;
}

.psy-navbar-logo {
  display: flex;
  flex: 0.9;
  padding-left: 4rem;
}

.psy-navbar-logo__icon {
  font-size: 2.5rem;
  margin: auto 0;
}

.psy-navbar-logo h3 {
  font-family: var(--font-fam);
  font-size: 2rem;
  margin-left: 2rem;
}

.psy-navbar-sole {
  flex: 1;
  font-family: "dancing script";
  font-size: 2rem;
  margin: auto;
}

.psy-navbar-menu {
  font-size: 2rem;
}

.psy-navbar-menu__icon {
  cursor: pointer;
  padding-right: 4rem;
}
