:root {
  /* --font-family: ; */

  --font-fam: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --gradient-color: linear-gradient(
    60deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 170, 233, 1) 100%
  );

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  --color-navbar: #fff;
}
